/* Conteneur de chat */
#chatBox {
    overflow-y: auto;
    height: 80vh;
    padding: 10px;
    background-color: #f8f8f8;
    border-radius: 10px;
    margin-bottom: 20px;
}

/* Style pour chaque message */
.message-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

/* Pour centrer la date au centre de chaque conversation */
.message-date {
    text-align: center;
    font-size: 0.9em;
    color: #aaa;
    margin: 5px 0;
    width: 100%;
}

/* Message de l'utilisateur aligné à droite */
.message.user {
    background-color: #FF3748;
    color: #fff;
    border-radius: 20px;
    padding: 10px 15px;
    max-width: 70%;
    margin-left: auto; /* Aligne à droite */
    position: relative;
}

/* Flèche de l'utilisateur pointant vers la droite */
.message.user::after {
    content: '';
    position: absolute;
    right: -10px;
    top: 50%;
    border: 10px solid transparent;
    border-left-color: #FF3748; /* Couleur de la bulle */
    border-right: 0;
    margin-top: -5px;
}

/* Message de l'IA aligné à gauche */
.message.ai {
    background-color: #EC5B55;
    color: #fff;
    border-radius: 20px;
    padding: 10px 15px;
    max-width: 70%;
    margin-right: auto; /* Aligne à gauche */
    position: relative;
}

/* Flèche de l'IA pointant vers la gauche */
.message.ai::after {
    content: '';
    position: absolute;
    left: -10px;
    top: 50%;
    border: 10px solid transparent;
    border-right-color: #EC5B55; /* Couleur de la bulle */
    border-left: 0;
    margin-top: -5px;
}

/* Style pour la date et l'heure au centre */
.message-date {
    text-align: center;
    font-size: 0.9em;
    color: #aaa;
    margin: 5px 0;
}
